.item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster {
    max-width: 100%;
}

.details{
    width: 90%;
    padding: 0.7rem;
    margin: auto;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
}

.title {
    font-size: large;
}

.rate {
    background-color: #fbe9e9;
    border-radius: 0.4rem;
    height: 2rem;
    min-width: 2rem;
    margin-left: 7px;
    padding: 0.2rem;
    text-align: center;
}

.description {
    position: absolute;
    left: -0.8rem;
    right: 0;
    bottom: 0;

    background-color: #f0faf7;
    border-radius: 0.7rem;
    padding: 1rem;
    height: 22rem;
    width: 111%;
    overflow-y: scroll;

    transform: translateY(101%);
    transition: transform 0.3s ease-in;

    font-weight: normal;
    font-size: 15px;
}

.description h3 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
    color: #597a91;
}

.details:hover .description {
    transform: translateY(0);
}